<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotus.backstage.logistics.mapper.LogisticsDeleteBackupMapper">

  <resultMap id="BaseResultMap" type="com.lotus.backstage.logistics.model.LogisticsDeleteBackup">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORDER_ID" jdbcType="BIGINT" property="orderId" />
    <result column="EXPRESS_COMPANY_LOGO" jdbcType="VARCHAR" property="expressCompanyLogo" />
    <result column="LOGISTICS_CODE" jdbcType="VARCHAR" property="logisticsCode" />
    <result column="EXPRESS_COMPANY_NAME" jdbcType="VARCHAR" property="expressCompanyName" />
    <result column="VALID" jdbcType="INTEGER" property="valid" />
    <result column="VERSION" jdbcType="INTEGER" property="version" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="BIGINT" property="createBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="BIGINT" property="updateBy" />
    <result column="LOG" jdbcType="VARCHAR" property="log" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, ORDER_ID, EXPRESS_COMPANY_LOGO, LOGISTICS_CODE, EXPRESS_COMPANY_NAME, VALID, 
    VERSION, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY, LOG
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from logistics_delete_backup
    where ID = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from logistics_delete_backup
    where ID = #{id,jdbcType=BIGINT}
  </delete>
 
  <insert id="insertSelective" parameterType="com.lotus.backstage.logistics.model.LogisticsDeleteBackup">
   <selectKey order="BEFORE" keyProperty="id" resultType="Long">
      SELECT FUN_GET_ID()
    </selectKey>
    insert into logistics_delete_backup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="expressCompanyLogo != null">
        EXPRESS_COMPANY_LOGO,
      </if>
      <if test="logisticsCode != null">
        LOGISTICS_CODE,
      </if>
      <if test="expressCompanyName != null">
        EXPRESS_COMPANY_NAME,
      </if>
      <if test="valid != null">
        VALID,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="log != null">
        LOG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="expressCompanyLogo != null">
        #{expressCompanyLogo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCode != null">
        #{logisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="expressCompanyName != null">
        #{expressCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="log != null">
        #{log,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.lotus.backstage.logistics.model.LogisticsDeleteBackup">
    update logistics_delete_backup
    <set>
      <if test="orderId != null">
        ORDER_ID = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="expressCompanyLogo != null">
        EXPRESS_COMPANY_LOGO = #{expressCompanyLogo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCode != null">
        LOGISTICS_CODE = #{logisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="expressCompanyName != null">
        EXPRESS_COMPANY_NAME = #{expressCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        VALID = #{valid,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="log != null">
        LOG = #{log,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
 
</mapper>