<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotus.backstage.banner.mapper.BannerMapper">

  <resultMap id="BaseResultMap" type="com.lotus.backstage.banner.model.Banner">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <id column="BANNER_TYPE_ID" jdbcType="BIGINT" property="bannerTypeId" />
    <result column="BANNER_NAME" jdbcType="VARCHAR" property="bannerName" />
    <result column="BANNER_IMG" jdbcType="VARCHAR" property="bannerImg" />
    <result column="BANNER_ORDER" jdbcType="INTEGER" property="bannerOrder" />
    <result column="TARGET_URL" jdbcType="VARCHAR" property="targetUrl" />
    <result column="VALID" jdbcType="INTEGER" property="valid" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="BIGINT" property="createBy" />
    <result column="UPDATE_BY" jdbcType="BIGINT" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="VERSION" jdbcType="INTEGER" property="version" />
    <result column="LOG" jdbcType="VARCHAR" property="log" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, BANNER_NAME, BANNER_IMG, BANNER_ORDER, TARGET_URL, VALID, CREATE_TIME, CREATE_BY, 
    UPDATE_BY, UPDATE_TIME, VERSION, LOG,BANNER_TYPE_ID
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from banner
    where ID = #{id,jdbcType=BIGINT}
  </select>
  
  <select id = "selectBanners" resultType="com.lotus.backstage.banner.model.Banner" parameterType="com.lotus.backstage.banner.model.Banner">
    SELECT 
    A.ID AS id, 
    A.BANNER_NAME AS bannerName, 
    A.BANNER_IMG AS bannerImg, 
    A.BANNER_ORDER AS bannerOrder, 
    A.TARGET_URL AS targetUrl, 
    A.VALID AS valid, 
    A.CREATE_TIME AS createTime, 
    A.UPDATE_TIME AS updateTime
    FROM BANNER A
    LEFT JOIN CATEGORY B ON A.BANNER_TYPE_ID = B.ID
    <trim prefix="WHERE " suffixOverrides="AND">
       <if test="id != null">
        A.ID = #{id,jdbcType=BIGINT} AND
      </if>
      <if test="bannerName != null and bannerName !=''">
        A.BANNER_NAME Like CONCAT('%',#{bannerName,jdbcType=VARCHAR},'%') AND
      </if>
      <if test="bannerImg != null">
        A.BANNER_IMG = #{bannerImg,jdbcType=VARCHAR} AND
      </if>
      <if test="bannerOrder != null">
        A.BANNER_ORDER = #{bannerOrder,jdbcType=INTEGER} AND
      </if>
      
       <if test="bannerTypeId != null">
        A.BANNER_TYPE_ID = #{bannerTypeId,jdbcType=INTEGER} AND
      </if>
      
        <if test="categoryType != null">
        B.CATEGORY_TYPE = #{categoryType,jdbcType=INTEGER} AND
      </if>
     
      <if test="valid != null">
        A.VALID = #{valid,jdbcType=INTEGER} AND
      </if>
      <if test="beginTime != null">
        DATE_FORMAT(#{beginTime,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s') &lt;= IF(ISNULL(A.UPDATE_TIME),A.CREATE_TIME,A.UPDATE_TIME) AND 
      </if>
      <if test="createBy != null">
       A.CREATE_BY = #{createBy,jdbcType=BIGINT} AND
      </if>
      <if test="updateBy != null">
        A.UPDATE_BY = #{updateBy,jdbcType=BIGINT} AND
      </if>
      <if test="endTime != null">
        IF(ISNULL(A.UPDATE_TIME),A.CREATE_TIME,A.UPDATE_TIME) &lt;= DATE_FORMAT(#{endTime,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s') AND
      </if>
      
    </trim>
     ORDER BY IF(ISNULL(A.UPDATE_TIME),A.CREATE_TIME,A.UPDATE_TIME) DESC
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from banner
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insertSelective" parameterType="com.lotus.backstage.banner.model.Banner">
   <selectKey order="BEFORE" keyProperty="id" resultType="Long">
      SELECT FUN_GET_ID()
    </selectKey>
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="bannerTypeId != null">
        BANNER_TYPE_ID,
      </if>
      <if test="bannerName != null">
        BANNER_NAME,
      </if>
      <if test="bannerImg != null">
        BANNER_IMG,
      </if>
      <if test="bannerOrder != null">
        BANNER_ORDER,
      </if>
      <if test="targetUrl != null">
        TARGET_URL,
      </if>
      <if test="valid != null">
        VALID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="log != null">
        LOG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bannerTypeId != null">
        #{bannerTypeId,jdbcType=INTEGER},
      </if>
     
      <if test="bannerName != null">
        #{bannerName,jdbcType=VARCHAR},
      </if>
      <if test="bannerImg != null">
        #{bannerImg,jdbcType=VARCHAR},
      </if>
      <if test="bannerOrder != null">
        #{bannerOrder,jdbcType=INTEGER},
      </if>
      <if test="targetUrl != null">
        #{targetUrl,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="log != null">
        #{log,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.lotus.backstage.banner.model.Banner">
    update banner
    <set>
      <if test="bannerName != null">
        BANNER_NAME = #{bannerName,jdbcType=VARCHAR},
      </if>
        <if test="bannerTypeId != null">
        BANNER_TYPE_ID = #{bannerTypeId,jdbcType=INTEGER},
       </if>
     
      <if test="bannerImg != null">
        BANNER_IMG = #{bannerImg,jdbcType=VARCHAR},
      </if>
      <if test="bannerOrder != null">
        BANNER_ORDER = #{bannerOrder,jdbcType=INTEGER},
      </if>
      <if test="targetUrl != null">
        TARGET_URL = #{targetUrl,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        VALID = #{valid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=INTEGER},
      </if>
      <if test="log != null">
        LOG = #{log,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>